
Blazor\.App/bin/

Blazor\.App/obj/

Blazor\.Server/obj/

Blazor\.Server/bin/

SimpleProgram/bin/

SimpleProgram/obj/

\.idea/

SimpleProgram\.Tests/bin/

SimpleProgram\.Tests/obj/

node_modules/

Blazor\.App/wwwroot/lib/

package-lock\.json
