@using Microsoft.JSInterop
@using SimpleProgram.Lib.Archives
@using SimpleProgram.Lib.JSInterop


<div class="card" style="height: 100%; width: 100%;">
    
    <div class="card-divider">
        <div class="grid-x align-middle align-justify" style="width: 100%;">
            <div class="cell auto">
                <h6 class="text-center" style="margin: 0;">@Header</h6>
            </div>
        
            <div class="cell shrink">
                <div class="small button-group" style="margin: 0;">
                    <a class="button" onclick="@ExportPng"><i class="fa fa-download" aria-hidden="true"></i> PNG</a>
                    <a class="button"><i class="fa fa-download" aria-hidden="true"></i> CSV</a>
                </div>
            </div>
        </div>

    </div>

    <div id="@($"plotly-{_id}")" style="height: 100%; width: 100%;">
        
        @if (!_rendered)
        {
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
        }
        
    </div>
    
</div>


@functions
{
    [Parameter]
    // ReSharper disable once AutoPropertyCanBeMadeGetOnly.Local
    private string Header { get; set; } = "График";

    private Sankey _sankey;
    
    [Parameter]
    private Sankey Sankey { 
        get => _sankey;
        set
        {
            _sankey = value;
            if (_sankey != null)
                Build();
        }
    }
    
    [CascadingParameter]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private CascadingValueClassBase CascadingValue { get; set; }

    private int _id;

    private bool _rendered;

    protected override void OnInit()
    {
        _id = new Random().Next();
        
        CascadingValue.Update += () =>
        {
            _rendered = false;
        };
    }

    private async void Build()
    {
        var plotLy = new Plotly();

        plotLy.AddData();
        
        plotLy.LastData.node.label = Sankey.NodeLabels;

        plotLy.LastData.link.label = Sankey.LinkLabels;
        plotLy.LastData.link.source = Sankey.LinkSources;
        plotLy.LastData.link.target = Sankey.LinkTargets;
        plotLy.LastData.link.value = Sankey.LinkValues;

        plotLy.LastData.type = PlotlyTypes.sankey;
        plotLy.LastData.orientation = "h";
        
        plotLy.layout.margin.l = 20;
        plotLy.layout.margin.r = 20;
        plotLy.layout.margin.t = 20;
        plotLy.layout.margin.b = 20;

        _rendered = await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.react", $"plotly-{_id}", plotLy);
        StateHasChanged();
    }

    private async void ExportPng()
    {
        await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.downloadImage", $"plotly-{_id}");
    }

}