@using Microsoft.JSInterop
@using SimpleProgram.Lib.Archives
@using SimpleProgram.Lib.JSInterop

<div id="@($"plotly-{_id}")" style="height: 100%; width: 100%;">
    <LoadIndicator ref="_loadIndicator" IndicatorType="@LoadIndicator.IndicatorTypeEnum.Wave"/>
</div>


<div class="hide">
    <a onclick="@ExportPng" id="export-png"></a>
    @* <a onclick="@ExportCsv" id="export-csv"></a> *@
</div>


@functions {

#pragma warning disable 649
    LoadIndicator _loadIndicator;
#pragma warning restore 649

    [Parameter]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private Func<Task<Sankey>> SankeyFunc { get; set; }

    [CascadingParameter]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private CascadingValueClassBase CascadingValue { get; set; }

    private int _id;

    private bool _rendered;

    protected override void OnInit()
    {
        _id = new Random().Next();

        CascadingValue.Update += () =>
        {
            _rendered = false;
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync()
    {
        var hidden = await JSRuntime.Current.InvokeAsync<bool>("global.isHidden", $"#plotly-{_id}");

        if (hidden)
        {
            _rendered = false;
            await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.purge", $"plotly-{_id}");
            return;
        }

        if (_rendered || SankeyFunc == null) return;

        _rendered = true;

        _loadIndicator.Show();

        var sankey = await SankeyFunc();

        var plotLy = new Plotly();

        plotLy.AddData();

        plotLy.LastData.node.label = sankey.NodeLabels;

        plotLy.LastData.link.label = sankey.LinkLabels;
        plotLy.LastData.link.source = sankey.LinkSources;
        plotLy.LastData.link.target = sankey.LinkTargets;
        plotLy.LastData.link.value = sankey.LinkValues;

        plotLy.LastData.type = PlotlyTypes.sankey;
        plotLy.LastData.orientation = "h";

        plotLy.layout.margin.l = 20;
        plotLy.layout.margin.r = 20;
        plotLy.layout.margin.t = 20;
        plotLy.layout.margin.b = 20;

        plotLy.config.displayModeBar = false;

        await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.react", $"plotly-{_id}", plotLy);
        _loadIndicator.Hide();
    }

    private async void ExportPng()
    {
        await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.downloadImage", $"plotly-{_id}");
    }

}