@using Blazor.App.Services
@inherits BlazorLayoutComponent

@*<style>
    .cell { border: 1px solid red; }
</style>*@

<div class="grid-y grid-frame">
    <div class="cell">
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>
        
        <div class="top-bar" id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Site Title</li>
                    <li>
                        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li>
                        <NavLink href="pue">PUE</NavLink>
                    </li>
                    <li>
                        <NavLink href="cooling">Холодоснабжение</NavLink>
                    </li>
                    <li>
                        <NavLink href="SankeyPage">Распределение Э/Э</NavLink>
                    </li>
                    <li>
                        <NavLink href="TagDict">TagDict</NavLink>
                    </li>
                    <li>
                        <a href="#">Данные</a>
                        <ul class="menu vertical">
                            <li>
                                <NavLink href="Plot">Plot</NavLink>
                            </li>
                            <li>
                                <NavLink href="DeleteData">Удалить данные из БД</NavLink>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
            
            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <DateTimeRangeComponent 
                            DateTimeRange="@_cascadingValue.DateTimeRange"
                        />
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
    
    
    <div class="cell auto cell-block-container">
        <div class="grid-y" style="height: 100%;">
            <div class="cell auto cell-block">
            @* <div class="cell auto" style="overflow: auto"> *@
                
                <CascadingValue Value="@_cascadingValue">

                    @Body

                </CascadingValue>

            </div>
        </div>
    </div>
        
        
    
</div>



@functions{

    private bool _rendered;

    private readonly CascadingValueClass _cascadingValue = new CascadingValueClass();

    protected override void OnInit()
    {
        _cascadingValue.DateTimeRange.Refresh += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync()
    {
        if (_rendered) return;
        _rendered = await JSRuntime.Current.InvokeAsync<bool>("global.foundationInit");
    }

}