@page "/counter"
@inject Data data

@using System.Threading
@using Blazor.App.Services

<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <ScatterByTime 
            Header="Температура"
            Tag="@data.TagGroup1.temperature"
            />
    </div>
    
    <div class="cell small-12 medium-6 large-4" style="height: 400px;">
        <ScatterByTime Header="52s5435345"/>
    </div>
</div>

<BlazorPlot Counter="@data.TagGroup1.MDBB_QS1" State="@data.TagGroup1.tagBool"/>

@functions {

/*    Timer _refresh;
    private int _refreshCount = 0;
    
    protected override void OnInit()
    {
        base.OnInit();
        _refresh = new Timer(Refresh, null, 0, 2000);
    }

    private void Refresh(object state)
    {
        StateHasChanged();
        Console.WriteLine($"refresh {++_refreshCount}");
    }*/
}
