@page "/"

@*<div class="grid-y" style="height: 100%">
    <div class="cell auto">*@
        
        
<div>
        <Gauge
            Value="60"
            ScaleLow="0"
            ScaleHigh="100"
            PvAlLim="10"
            PvWlLim="30"
            PvWhLim="80"
            PvAhLim="90"/>
</div>
        
        
    @*</div>
</div>*@



@functions
{

}