@page "/"
@using Blazor.App.Services
@using SimpleProgram.Lib.Tag
@inject Data Data

<div class="grid-x grid-padding-x grid-padding-y">

    <div class="cell small-12 medium-12 large-6" style="height: 800px;">
        <Widget Header="Потребление за период">

            <div class="page1" style="overflow: auto">
                <TableBeginEndIncComponent
                    Table="@_table"/>
            </div>

        </Widget>
    </div>
</div>

<div style="position: relative">


    <air_conditioning_13
        Style="height: 100px; top: 100px; width: 100px;"
        FillColor="@(Data.TgModbus.register0.Value > 100 ? "red" : "green")"/>
</div>


@functions
{
    private readonly Table<TableBeginEndIncComponent.TableRow> _table = new Table<TableBeginEndIncComponent.TableRow>();

    protected override void OnInit()
    {
        _table.AddGroup("ГРЩ-А", new List<ITag>
        {
            Data.TGEnergy.MDB_A__QS1,
            Data.TGEnergy.MDB_A__QF1_1,
            Data.TGEnergy.MDB_A__QF1_2,
            Data.TGEnergy.MDB_A__QF1_3,
            Data.TGEnergy.MDB_A__QF1_4,
            Data.TGEnergy.MDB_A__QF1_5,
            Data.TGEnergy.MDB_A__QF2_1,
            Data.TGEnergy.MDB_A__QF2_2,
            Data.TGEnergy.MDB_A__QF2_3,
            Data.TGEnergy.MDB_A__QF2_4,
            Data.TGEnergy.MDB_A__QF2_5,
            Data.TGEnergy.MDB_A__QF2_6,
            Data.TGEnergy.MDB_A__QF2_7,
            Data.TGEnergy.MDB_A__QF2_8,
            Data.TGEnergy.MDB_A__QF3_1,
            Data.TGEnergy.MDB_A__QF3_2,
            Data.TGEnergy.MDB_A__QF3_3,
            Data.TGEnergy.MDB_A__QF3_4,
            Data.TGEnergy.MDB_A__QF3_5,
            Data.TGEnergy.MDB_A__QF3_6,
        });
        
        _table.AddGroup("ГРЩ-B", new List<ITag>
        {
            Data.TGEnergy.MDB_B__QS1,
            Data.TGEnergy.MDB_B__QF1_1,
            Data.TGEnergy.MDB_B__QF1_2,
            Data.TGEnergy.MDB_B__QF1_3,
            Data.TGEnergy.MDB_B__QF1_4,
            Data.TGEnergy.MDB_B__QF1_5,
            Data.TGEnergy.MDB_B__QF1_6,
            Data.TGEnergy.MDB_B__QF1_7,
            Data.TGEnergy.MDB_B__QF1_8,
            Data.TGEnergy.MDB_B__QF2_1,
            Data.TGEnergy.MDB_B__QF2_2,
            Data.TGEnergy.MDB_B__QF2_3,
            Data.TGEnergy.MDB_B__QF2_4,
            Data.TGEnergy.MDB_B__QF2_5,
            Data.TGEnergy.MDB_B__QF2_6,
            Data.TGEnergy.MDB_B__QF2_7,
            Data.TGEnergy.MDB_B__QF2_8,
            Data.TGEnergy.MDB_B__QF2_9,
            Data.TGEnergy.MDB_B__QF2_10,
            Data.TGEnergy.MDB_B__QF2_11,
            Data.TGEnergy.MDB_B__QF2_12,
            Data.TGEnergy.MDB_B__QF2_13,
            Data.TGEnergy.MDB_B__QF2_14,
        });
        
        _table.AddGroup("РЩБП-А", new List<ITag>
        {
            Data.TGEnergy.UPS_MDB_A__QF3_1,
            Data.TGEnergy.UPS_MDB_A__QF4_1,
            Data.TGEnergy.UPS_MDB_A__QF4_2,
            Data.TGEnergy.UPS_MDB_A__QF4_3,
            Data.TGEnergy.UPS_MDB_A__QF4_4,
            Data.TGEnergy.UPS_MDB_A__QF4_5,
            Data.TGEnergy.UPS_MDB_A__QF4_6,
            Data.TGEnergy.UPS_MDB_A__QF4_7,
            Data.TGEnergy.UPS_MDB_A__QF4_8,
            Data.TGEnergy.UPS_MDB_A__QF4_9,
            Data.TGEnergy.UPS_MDB_A__QF4_10,
            Data.TGEnergy.UPS_MDB_A__QF4_11,
            Data.TGEnergy.UPS_MDB_A__QF4_12,
            Data.TGEnergy.UPS_MDB_A__QF4_13,
            Data.TGEnergy.UPS_MDB_A__QF4_14,
            Data.TGEnergy.UPS_MDB_A__QF4_15,
            Data.TGEnergy.UPS_MDB_A__QF4_16,
        });
        
        _table.AddGroup("РЩБП-B", new List<ITag>
        {
            Data.TGEnergy.UPS_MDB_B__QF3_1,
        });
        
        _table.AddGroup("РЩБП-AB", new List<ITag>
        {
            Data.TGEnergy.UPS_MDB_AB__QF2_1,
            Data.TGEnergy.UPS_MDB_AB__QF2_2,
        });
    }

}