@page "/"
@using System.Net.Sockets
@using Blazor.App.Services
@using NModbus
@inject Data Data

<button type="button" onclick="@Get">Button</button>

@functions
{

    private void Get()
    {

    }
}