@page "/SankeyPage"

@using Blazor.App.Services

@inject Data data


<div class="cell small-12 medium-6 large-4" style="height: 800px;">
    <SankeyComponent Header="Sankey"/>
</div>


@functions
{

    

}
