@using Blazor.App.Services
@using SimpleProgram.Lib.JSInterop
@using SimpleProgram.Lib.Tag
@inject Data data

<div class="card" style="height: 100%">
    <div class="card-divider align-center">
        <h4>@Header</h4>
    </div>
    <div id="@($"plotly-{_id}")" style="height: 100%; width: 100%;"></div>
</div>


@functions{

    [Parameter]
    // ReSharper disable once AutoPropertyCanBeMadeGetOnly.Local
    private string Header { get; set; } = "График";

    [Parameter]
    private ITag Tag { get; set; }

    private int _id;

    private bool _rendered;

    private Plotly _plotLy;

    protected override void OnInit()
    {
        base.OnInit();
        _id = new Random().Next();
    }

    protected override async Task OnAfterRenderAsync()
    {
        Console.WriteLine("--------------");
        if (_rendered) return;

        _rendered = true;

        _plotLy = new Plotly();

        if (Tag == null)
            Tag = data.TagGroup1.tagSum;

        _plotLy.ClearData();
        _plotLy.AddData();

        var ts = Tag.GetTimeSeries(DateTime.MinValue, DateTime.MaxValue);

        _plotLy.GetLastData().x = ts.Times;
        _plotLy.GetLastData().y = ts.Values;

        _plotLy.layout.showlegend = false;
        _plotLy.layout.margin.l = 60;
        _plotLy.layout.margin.r = 10;
        _plotLy.layout.margin.t = 10;
        _plotLy.layout.margin.b = 60;
        _plotLy.config.displayModeBar = false;

        await JSRuntime.Current.InvokeAsync<bool>("plotlyhelpers.react", $"plotly-{_id}", _plotLy);

        _plotLy = null;
    }

}